<h1>Authcoin challenge set marketplace</h1>
<h3>Generate DKG file for business contract</h3>
<h3>Node version {{nodeVersion}}</h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="actorsFormGroup">
    <form [formGroup]="actorsFormGroup">
      <ng-template matStepLabel>Parties</ng-template>
      <table>
        <tr>

          <!--Actor 1 details -->
          <td>
            <mat-form-field>
              <mat-label>Producer Name</mat-label>
              <input matInput placeholder="Name" formControlName="actor1_name" required>
            </mat-form-field>

            <br/>

            <mat-form-field>
              <mat-label>Producer Identification</mat-label>
              <textarea matInput placeholder="Identification" formControlName="actor1_identification"
                        required></textarea>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill">
              <mat-label>Producer Network</mat-label>
              <select matNativeControl required formControlName="actor1_network">
                <option value="ethereum">Ethereum</option>
                <option value="polygon">Polygon</option>
                <option value="hyperledger">Hyperledger</option>
              </select>
            </mat-form-field>

          </td>

          <!--Actor 2 details -->
          <td>
            <mat-form-field>
              <mat-label>Consumer Name</mat-label>
              <input matInput placeholder="Name" formControlName="actor2_name" required>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label>Consumer Identification</mat-label>
              <textarea matInput placeholder="Identification" formControlName="actor2_identification"
                        required></textarea>
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill">
              <mat-label>Consumer Network</mat-label>
              <select matNativeControl required formControlName="actor2_network">
                <option value="ethereum">Ethereum</option>
                <option value="polygon">Polygon</option>
                <option value="hyperledger">Hyperledger</option>
              </select>
            </mat-form-field>
          </td>


        </tr>
        <tr>
          <td>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <div>Contract Duration</div>
            <br/>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Delivery interval (months)</mat-label>
              <input type="number" matInput formControlName="deliveryInterval" required>
            </mat-form-field>

            <br/>

          </td>
          <td>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <div>Contract number</div>
            <br/>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Contract nr</mat-label>
              <input matInput formControlName="contractNumber" required>
            </mat-form-field>

            <br/>
          </td>
        </tr>
      </table>
    </form>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>


  <mat-step [stepControl]="contractTypeFormGroup">
    <form [formGroup]="contractTypeFormGroup">
      <ng-template matStepLabel>Choose contract type</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Service type</mat-label>
        <select matNativeControl required formControlName="contract_type">
          <option value="service_delivery">Service delivery</option>
          <option value="product_purchase">Product purchase</option>
          <option value="logistic_business">Logistic business</option>
          <option value="m2x">Machine2Everything</option>
        </select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="this.contractTypeFormGroup.value.contract_type=='service_delivery'"
            [stepControl]="serviceDeliveryFormGroup">
    <form [formGroup]="serviceDeliveryFormGroup">
      <ng-template matStepLabel>Obligations</ng-template>

      <mat-label>Obligations</mat-label>
      <br/>
      <mat-form-field>
        <mat-label>Service type</mat-label>
        <input matInput placeholder="Service type" formControlName="service_type" required>
      </mat-form-field>

      <br/>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="service_price" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="this.contractTypeFormGroup.value.contract_type=='m2x'" [stepControl]="m2xFormGroup">
    <form [formGroup]="m2xFormGroup">
      <ng-template matStepLabel>Obligations</ng-template>

      <mat-label>Obligations</mat-label>
      <br/>
      <mat-form-field>
        <mat-label>Devices</mat-label>
        <input matInput placeholder="Devices" formControlName="devices" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Data type</mat-label>
        <input matInput placeholder="Data type" formControlName="data_type" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Protocol</mat-label>
        <input matInput placeholder="Protocol" formControlName="protocol" required>
      </mat-form-field>
      <br/>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="this.contractTypeFormGroup.value.contract_type=='product_purchase'"
            [stepControl]="productPurchaseFormGroup">
    <form [formGroup]="productPurchaseFormGroup">
      <ng-template matStepLabel>Obligations</ng-template>

      <mat-label>Obligations</mat-label>
      <br/>
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input matInput placeholder="Product name" formControlName="product_name" required>
      </mat-form-field>

      <br/>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="product_price" required>
      </mat-form-field>

      <br/>

      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity" formControlName="product_quantity" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step *ngIf="this.contractTypeFormGroup.value.contract_type=='logistic_business'"
            [stepControl]="logisticBusinessFormGroup">
    <form [formGroup]="logisticBusinessFormGroup">
      <ng-template matStepLabel>Obligations</ng-template>

      <mat-label>Obligations</mat-label>
      <br/>
      <br/>
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input matInput placeholder="Product name" formControlName="product_name" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity" formControlName="quantity" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Delivery price</mat-label>
        <input matInput placeholder="Delivery price" formControlName="delivery_price" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Product origin</mat-label>
        <input matInput placeholder="Product origin" formControlName="product_origin" required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Product destination</mat-label>
        <input matInput placeholder="Product destination" formControlName="product_destination" required>
      </mat-form-field>
      <br/>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <br/>
    <table border="1">
      <tr>
        <th>Contract property name</th>
        <th>Contract property value</th>
      </tr>
      <tr>
        <td width="30%"><b>Actor 1 name</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.actor1_name}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Actor 1 role</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.actor1_role}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Actor 1 identification</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.actor1_identification}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Actor 2 name</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.actor2_name}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Actor 2 role</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.actor2_role}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Actor 2 identification</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.actor2_identification}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Contract begin date</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.contract_begin_date}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Contract end date</b></td>
        <td width="70%" align="center">{{this.actorsFormGroup.value.contract_end_date}}</td>
      </tr>
      <tr>
        <td width="30%"><b>Contract type</b></td>
        <td width="70%" align="center">{{this.contractTypeFormGroup.value.contract_type}}</td>
      </tr>

      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='service_delivery'">
        <td width="30%"><b>Service type</b></td>
        <td width="70%" align="center">{{this.serviceDeliveryFormGroup.value.service_type}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='service_delivery'">
        <td width="30%"><b>Service price</b></td>
        <td width="70%" align="center">{{this.serviceDeliveryFormGroup.value.service_price}}</td>
      </tr>

      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='m2x'">
        <td width="30%"><b>Devices</b></td>
        <td width="70%" align="center">{{this.m2xFormGroup.value.devices}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='m2x'">
        <td width="30%"><b>Data type</b></td>
        <td width="70%" align="center">{{this.m2xFormGroup.value.data_type}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='m2x'">
        <td width="30%"><b>Protocol</b></td>
        <td width="70%" align="center">{{this.m2xFormGroup.value.protocol}}</td>
      </tr>

      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='product_purchase'">
        <td width="30%"><b>Product name</b></td>
        <td width="70%" align="center">{{this.productPurchaseFormGroup.value.product_name}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='product_purchase'">
        <td width="30%"><b>Product price</b></td>
        <td width="70%" align="center">{{this.productPurchaseFormGroup.value.product_price}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='product_purchase'">
        <td width="30%"><b>Product quantity</b></td>
        <td width="70%" align="center">{{this.productPurchaseFormGroup.value.product_quantity}}</td>
      </tr>

      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='logistic_business'">
        <td width="30%"><b>Product name</b></td>
        <td width="70%" align="center">{{this.logisticBusinessFormGroup.value.product_name}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='logistic_business'">
        <td width="30%"><b>Quantity</b></td>
        <td width="70%" align="center">{{this.logisticBusinessFormGroup.value.quantity}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='logistic_business'">
        <td width="30%"><b>Delivery price</b></td>
        <td width="70%" align="center">{{this.logisticBusinessFormGroup.value.delivery_price}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='logistic_business'">
        <td width="30%"><b>Product origin</b></td>
        <td width="70%" align="center">{{this.logisticBusinessFormGroup.value.product_origin}}</td>
      </tr>
      <tr *ngIf="this.contractTypeFormGroup.value.contract_type=='logistic_business'">
        <td width="30%"><b>Product destination</b></td>
        <td width="70%" align="center">{{this.logisticBusinessFormGroup.value.product_destination}}</td>
      </tr>
    </table>

    <br>
    DKG handler is {{dkgHandler}}
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Generate DKG instance</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
